.item-level {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 0.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    padding: 0 2px;
    border-radius: 2px;
    pointer-events: none;
    line-height: normal;
    font-weight: 300;
    z-index: 10;
}

/* Minion CSS */
.skeleton {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 50px;
    left: 20px;
    z-index: 5;
    pointer-events: none;
}

#minion-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}

.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 6;
    pointer-events: none;
}

#btn-settings {
    font-size: 1.2rem;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Fix Rope Visibility */
#sandbag::before {
    content: '';
    position: absolute;
    top: -50vh;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 50vh;
    background: #5d4037;
    z-index: -1;
}

#sandbag {
    position: relative;
    z-index: 1;
}